{{#each movie}}
<section class="movie-sec">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{Title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      {{#if Poster}}
      <img url="{{Poster}}" alt="{{Title}} Poster">
      {{else}}
      <img url="/images/" alt="{{Title}} Poster">
      {{/if}}
    </div>
    <div class="col-sm-9">

    </div>
</section>  
{{/each}}