{{#each Movie}}
<section class="movie-sec" key="{{@key}}">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{title}} ({{year}})</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      {{#if poster}}
      <img src="{{poster}}" alt="{{title}} Poster">
      {{else}}
      <img src="../images/no-image-found.jpg" alt="{{title}} Poster">
      {{/if}}
      <input class="form-control" type="range" min="1" max="10" step="1" value="5">
      <button class="btn default-btn">Unwatched</button>
    </div>
    <div class="col-sm-9">
      <p>{{plot}}</p>
      <h4>Leading Actors</h4>
      <ul>
        {{#each actors}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
</section>  
{{/each}}